@tailwind base;
@tailwind components;
@tailwind utilities;


.perpetua {
  font-family: Perpetua Titling MT;
}
.montserat {
  font-family: Montserrat;
}


.dark-bg {
  background: 
  radial-gradient(circle at center, #FFBA00 0%, #FFBA00 100%),
    radial-gradient(circle at center, #FF6B00 0%, #FF6B00 100%),
    linear-gradient(#0C0C0C, #0C0C0C),
    #0C0C0C 70%,
    #FFFFFF 75%
  ,
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0C0C0C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


@media (prefers-color-scheme: light) {
  :root {
    color: #0C0C0C;
    background-color: #ffffff;
  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #0C0C0C;
  }
  
}


.item {
  min-height: 25rem;
  min-width: 28%;
  padding: 6px;
}

.item img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}